<link href="../msgBlaster/css/plugins/iCheck/custom.css" rel="stylesheet" />
<div ng-controller="SendMessageController as sendMessage" class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-setttings">
            <div class="title">Send Message</div>
            <div class="form-group">
                <div class="col-sm-12 sidebar-container-dropdown">
                    <select class="form-control m-b no-padding" name="account">
                        <option>Select Group</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                </div>
            </div>

            <div class="setings-item">
                <textarea placeholder="Recipient" class="form-control" />
            </div>
            
            <div class="form-group">
                <div class="col-sm-12 sidebar-container-dropdown">
                    <select class="form-control m-b no-padding">
                        <option>Select Template</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                </div>
            </div>

            <div class="setings-item">
                <textarea placeholder="Message" class="form-control" />
            </div>

            <div class="setings-item">
                <label class="font-noraml col-lg-3 i-checks">Send:</label>
                <div class="radio radio-success radio-inline">
                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                    <label for="inlineRadio1" class="font-noraml" style="line-height: 1.2;">Now</label>
                </div>
                <div class="radio radio-success radio-inline">
                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                    <label for="inlineRadio2" class="font-noraml" style="line-height: 1.2;">Later</label>
                </div>
            </div>

            <div class="setings-item" style="padding-top: 0px;">
                <div class="col-lg-5 col-md-5" style="padding: 10px 0px;">
                    <input type="text" class="form-control datepicker datepicker-orient-left" placeholder="date" calender ng-model="date">
                </div>

                <div class="col-lg-5 col-md-5 pull-right" style="padding: 10px 0px;">
                    <div class="input-group clockpicker" data-placement="top" data-align="right" data-autoclose="true">
                        <input type="text" class="form-control" value="09:30">
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="setings-item" style="text-align: center;">
                <button type="button" class="btn btn-primary btn-m" ng-click="main.send()">Send</button>
                <button type="button" class="btn btn-default btn-m" ng-click="sendMessage.send()">Cancel</button>
            </div>

        </div>
    </div>
</div>

<script>

    // SKIN Select
    $('.spin-icon').click(function () {
        $('.theme-config-box').toggleClass('show');
    });    

    $('.clockpicker').clockpicker();

    $('.datepicker').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        format: "dd-M-yy",
        calendarWeeks: true,
        autoclose: true,
        orientation: "auto right"
    });

    // Config box
    // Angular directive handel this so there is no need to include this to project
  

</script>
