<div ng-controller="ContactController as contact">
    <div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0;">
        <div class="col-lg-10">
            <h2 style="margin-top: 10px;">Contacts</h2>
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Go!</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select chosen id="Select2" class="chosen-select" style="width: 162px;" tabindex="4" ng-model="group" ng-options="s for s in main.groups">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 pull-right">
                            <a href="" class="col-lg-5 btn btn-primary btn-sm pull-right">Add</a>
                        </div>
                    </div>
                    <div id="Grid" ej-grid e-datasource="contact.data" e-columns="contact.columns" e-toolbarsettings='contact.tools' e-toolbarclick="contact.toolbarHandler" e-editsettings="contact.edittsetings" e-allowsorting="contact.allowsorting" e-sortsettings="contact.sortsettings" e-actionbegin="contact.actionBegin" e-allowpaging="contact.allowpaging" e-pagesettings="contact.pagesettings" e-editsettings="contact.editsettings" e-allowreordering="contact.allowReordering" e-allowresizing="contact.allowResizing"></div>
                </div>
            </div>
        </div>
    </div>
</div>

