<div ng-controller="CampaignListController">
    <div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0;">
        <div class="col-lg-10">
            <h2 style="margin-top: 10px;">Campaigns</h2>
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Go!</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-2 pull-right">
                            <a ui-sref="app.createCampaign" class="col-lg-5 btn btn-primary btn-sm pull-right">Add</a>
                        </div>
                    </div>
                    <div id="Grid" ej-grid e-datasource="data" e-query="query" e-columns="columns" e-allowsorting="allowsorting" e-sortsettings="sortsettings" e-allowpaging="allowpaging" e-pagesettings="pagesettings"></div>
                </div>
            </div>
        </div>
    </div>
</div>
