<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">New Template</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label font-noraml">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="Title" ng-model="Template.Title" ng-maxlength="50" ng-blur="searchTitle(Template)" required>
                    <span class="error" ng-show="TemplateForm.submitted && TemplateForm.Title.$error.required">Title is required.</span>
                    <span class="error" ng-show="TemplateForm.Title.$error.maxlength">Title can accept maximum 50 characters.</span>
                    <span class="error" ng-show="title">Title already exists.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label font-noraml">Message</label>

                <div class="col-sm-9">
                    <textarea class="form-control" name="Message" ng-model="Template.Message" ng-change="calculateMsgCounts(Template.Message)"  rows="5" required/>
                    <span class="error" ng-show="TemplateForm.submitted && TemplateForm.Message.$error.required">Message is required.</span>
                    <span style="font-size: 12px;"><b>Character count : {{characterCount}}</b></span>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-primary"  ng-click="save(Template,TemplateForm.$valid,title);TemplateForm.submitted=true;">Save</button>
                <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
            </div>
        </form>

    </div>
</div>
