<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0;">
    <div class="col-lg-10">
        <h2 style="margin-top: 10px;">Import Contacts</h2>
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-lg-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <label class="control-label font-noraml">Download sample excel file: <a href="~/../../../data/documents/sample/Sample.xlsx" style="line-height: 1.8;">Download</a></label>
                </div>
                <form action="" class="dropzone" drop-zone="" id="Form1">
                    <button type="submit" class="btn btn-primary pull-right">Upload File!</button>
                </form>

            </div>
        </div>
    </div>
</div>
